#anchorpanLeft{
    -fx-background-color: #f0f0f0;
    -fx-border-color: #d0d0d0;
   
}

#anchorpaneCenter{
    -fx-background-color: #ffffff;

    
}

#anchorpaneLeftButtons {
    -fx-background-color: #f0f0f0;
    -fx-border-color: #d0d0d0;
    -fx-border-width: 0 0 0 0;
    -fx-padding: 0 0 0 0;
}

#anchorpaneWarehouses {
    -fx-background-color: #d0d0d0;
    -fx-border-color: #d0d0d0;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;

   
}

.button:hover {
    -fx-background-color: #ffffff;
}

.button:focused {
    -fx-background-color: #ffffff;
}


#hBoxTopLabel {
    -fx-background-color: #f0f0f0;
    -fx-border-color: #d0d0d0;
    -fx-border-width: 0 0 1 0;
    -fx-padding: 0 0 0 0;
}